@model Show;

<h3>Artists:</h3>
@foreach (Artist a in Model.Artists)
{
	<p><a asp-action="DisplayArtist" asp-route-artist="@a.Name">@a.Name</a></p>
}

<h3>Venue:</h3>
<p><a asp-action="DisplayVenue" asp-route-venue="@Model.Venue.Name">@Model.Venue.Name</a></p>
<p>@Model.Venue.Address</p>
<p>@Model.Venue.City, @Model.Venue.State</p>

<h3>Date/Time:</h3>
<p>@Model.Time</p>