@model List<Show>
@{
	ViewData["Title"] = "Upcoming Shows";
}
<h1>House Show</h1>
<h3>Search Shows</h3>

<form method="post">
	<label name="city">City:</label>
	<input name="city" /><br />
	<label name="state">State:</label>
	<input name="state" /><br />
	<input type="submit" />
</form>
<br />
@if (Model != null)
{
	<table>
		<thead>
			<tr>
				<th>Upcoming Shows in @Model[0].Venue.City</th>
			</tr>
			<tr>
				<th>Artists</th>
				<th>Venue</th>
				<th>City/State</th>
				<th>Date</th>
			</tr>
		</thead>
		<tbody>
			@foreach (Show show in Model)
			{
			<tr>
				@if (show.ArtistNames.Length < 1)
				{
					<th>@ViewBag.Names[show.ShowID]</th>
				}
				@if (show.ArtistNames.Length > 1)
				{
					<th>@show.ArtistNames</th>
				}
				<th>@show.Venue.Name</th>
				<th>@show.Venue.City, @show.Venue.State</th>
				<th>@show.Time</th>
				<th><a asp-action="DisplayShow" asp-route-showID="@show.ShowID.ToString()">more info</a></th>
			</tr>
			}
		</tbody>
	</table>
}
